<main class="appearance" data-id="{{ item.id }}">
    <section class="appearance-left">
        <img class="appearance-left-img" src="{{ item.image.url }}">
        {{#each item.product_occurrences}}
            <div class="product-indicator" style="top: {{position.y}}%; left: {{position.x}}%;" data-uuid="{{product.id}}"></div>
        {{/each}}
    </section>
    <section class="appearance-right">
        <h2><img class="avatar" src="{{ item.subject.avatar.url }}"> {{ item.subject.name }}</h2>
        <h1>{{ item.title }}</h1>

        <article class="appearance-products">
            <h1>Products</h1>
            <section class="appearance-products-inner">
                {{#each products}}
                    <article class="product" data-uuid="{{id}}">
                        <section class="actual">
                            <section class="image">
                                <h1>Actual</h1>
                                <img src="{{image.url}}">
                            </section>
                            <section class="info">
                                <h1>{{ name }}</h1>
                                <h2>{{ brand.name }}</h2>
                            </section>
                        </section>
                        {{#each similars}}
                            <section class="similar">
                                <section class="image">
                                    <h1>{{ similar_type }}</h1>
                                    <img src="{{image.url}}">
                                </section>
                                <section class="info">
                                    <h1>{{ name }}</h1>
                                    <h2>{{ brand.name }}</h2>
                                </section>
                            </section>
                        {{/each}}
                    </article>
                {{/each}}
            </section>
        </article>
    </section>
</main>