<main class="feed-items">
    {{#each items}}
        <article class="feed-item" data-uuid="{{id}}">
            <img class="feed-item-img" src="{{ image.url }}">
            <h2 class="feed-item-img-title"><img class="avatar" src="{{ subject.avatar.url }}"> {{ subject.name }}</h2>
            <h1 class="feed-item-title"><a href="appearance/{{id}}">{{title}}</a></h1>
        </article>
    {{/each}}
</main>